<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title colors="light">DBEI APP</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <h3>Ionic Menu Starter</h3> -->

  <!-- <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p> -->

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
      <ion-grid>
          <ion-row>
            <ion-col>
                &nbsp;
            </ion-col>
            <ion-col>
               <ion-img center width="180" height="120" src="/assets/imgs/androidify.png"></ion-img>
            </ion-col>
            <ion-col>
                &nbsp;
            </ion-col>
          </ion-row>
        </ion-grid>
   
    <ion-card-header>
     Route: R1-Test
      <p>Account Overview</p>
    </ion-card-header>
  
    <ion-list>
      <button ion-item>
        <ion-icon name="basket" item-start></ion-icon>
        Loads
        <p>100 KG</p>
      </button>

      <button ion-item>
        <ion-icon name="cash" item-start></ion-icon>
        Sales
        <p>P100.00</p>
      </button>

      <button ion-item>
        <ion-icon name="paper" item-start></ion-icon>
        Collectables
        <p>P100.00</p>
      </button>

      <button ion-item>
        <ion-icon name="clipboard" item-start></ion-icon>
        Returns
        <p>0 KG</p>
      </button>

      <button ion-item>
        <ion-icon name="refresh" item-start></ion-icon>
        Reloads
        <p>100 KG</p>
      </button>

      <button ion-item>
        <ion-icon name="people" item-start></ion-icon>
        Customers
        <p>100</p>
      </button>
  
      
  
    </ion-list>
  </ion-card>
</ion-content>
